header {    
    background-color: #2C3E50;
}
img{
    width: 100%;
}
.jambotron{
    width: 50%;
}
.bgc-2C3E50{
    background-color: #2C3E50;
    height: 80px;
}
.bgc-1ABC9C{
    background-color: #1ABC9C;
    height: 100%;
}
.bgc-3A546D{
    background-color: #3A546D;
    height: 100%;
}
